body {
    padding: 0 7.5%;
    overflow: hidden;
}

.main-content {
    padding: 7.5% 30%;
    text-align: center;
    font-size: 20px;
}

.logo {
    width: 50%;
    margin-bottom: 3%;
}

.main-content h1 {
    font-size: 65px;
}

.main-content .btn {
    margin-right: 5%;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    font-weight: 700 !important;
    letter-spacing: 1px;
    min-width: 100px;
}

.btn-primary {
    background-color: white;
    border: 2px solid #000;
    color: #000;
}

.btn-primary:hover {
    background-color: #000;
    color: white;
    border: 2px solid  #000;
}

.btn-primary2 {
    background-color: #f47621;
    border: 2px solid #f47621;
    color: white;
}

.btn-primary2:hover {
    background-color: #000;
    color: white;
    border: 2px solid  #000;
}

.cnt-box {
    border: 3px solid black;
    border-radius: 5px;
    height: 500px;
    margin-bottom: 5%;
}

.btn-bar {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 2px solid black;
}

.cnt-box .btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    /* height: 2px;
    width: 2px; */
    width: 10px;
    height: 25px;
    border-radius: 100%;
}

.btn-close {
    background-color: #ff605c;
    border-radius: 50%;
}

.btn-close:hover{
    background-color: #612221;
}

.btn-min {
    background-color: #ffbd44;
}

.btn-min:hover {
    background-color: #503b15;
}

.btn-expd {
    background-color: #00ca4e;
}

.btn-expd:hover {
    background-color: #003b17;
}

/*Media Query starts here*/
@media (max-width : 890px) {
    .main-content {
        padding: 10% 10%;
        text-align: center;
        font-size: 17px;
    }

    .main-content h1 {
        font-size: 50px;
    }

    .cnt-box .btn {
        font-size: 10px;
        border-radius: 100%;
    }
}

@media (max-width : 670px){
    body {
        padding: 0 6%;
    }
    
    .main-content {
        padding: 10% 10%;
        text-align: center;
        font-size: 16px;
    }

    .logo {
        width: 80%;
    }

    .main-content h1 {
        font-size: 40px;
    }
    

    .main-content .btn {
        width: 75%;
        margin-top: 3%;
    }
}